html,body,main{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
body{
    
    color: var(--c1);
    font-family: "DM Sans", sans-serif;
    background-color: var(--c1);
    
    /*Tamaños de pagina*/
    
}

/*Contenido principal*/
main{
    
    /*Centrar contenido*/
    display: flex;
    gap: 25px;

    /*Hacer elemento abarcar toda la pantalla*/
}
/*Barra lateral*/
aside{
    margin: auto;
    position:-webkit-sticky;
    position: sticky;
    flex:1;
    background-color: var(--c3);
    /*Tamaños*/
    width: 20%;
    height: 100%;
    top:0;
}

/*Media querys para tamaño horizontal*/
@media screen and (max-width : 800px) {
    aside{
        display: none;
    }
}
@media screen and (min-width : 800px) {
    aside{
        display: none;
    }
}
@media screen and (min-width : 1400px) {
    aside{
        display: block;
    }
}

section{
    margin: auto;
    color: var(--c4);

    flex: 5;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;

    text-align: left;
    position: relative;
    top: 0%;
}
h1{
    margin-top: 100px;
    font-size: 4rem;
}

p{
    text-align: justify;
    font-size: 1rem;
}

/*Menu de navegacion aside*/
nav{
    width: 100%;
    height: 100%;
}

nav ul { 
    list-style: none;
    /*Centrar elementos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    height: 100%;
}

.bar_title{
    background-color: var(--c2);
    width: 50%;
    height: 6px;
    margin-top: auto;
}


