/*Animacion de startup para elementos*/
@keyframes section_open {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}
#bg_anim{
    background-image: linear-gradient(to bottom, var(--ct1),var(--c1)) ,  url("../imagenes/index_anim.gif") ;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index:1;
}

html,body,main{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
body{
    color: var(--c1);
    font-family: "DM Sans", sans-serif;
    /*Tamaños de pagina*/
}

/*Contenido principal*/
main{
    /*Centrar contenido*/
    display: flex;

}


section{
    /*Animacion para startup*/
    animation-name: section_open;
    animation-duration: 0.2s;
    animation-fill-mode:backwards;

    /*Centrar contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


    margin-left: auto;
    margin-right: auto;

    background-color: var(--c3);
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 0px 25px black;
}

h1{
    margin-top: 2px;
    font-size: 4rem;
    /*Animacion para startup*/
    animation-name: elem_startup;
    animation-duration: 0.5s;
    animation-fill-mode:backwards;
    
}
p{
    margin-top: 2px;
    /*Animacion para startup*/
    animation-name: elem_startup;
    animation-duration: 0.5s;
    animation-fill-mode:backwards;
    
    
}

/*Informacion de address*/
address{
    color: var(--c7);
    display: flex;
    /*Animacion para startup*/
    animation-name: elem_startup;
    animation-duration: 0.5s;
    animation-fill-mode:backwards;
}

address span{
    padding: 10px;
    margin: auto;
}

address p{
    padding: 10px;
    margin: auto;
    font-size: 1rem;
}


/*Menu de navegacion inferior*/
nav{
    width: 100%;
}

nav ul { 
    list-style: none;
    /*Centrar elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    
}

.index_pfp{
    /*Animacion para startup*/
    animation-name: elem_startup;
    animation-duration: 0.5s;
    animation-fill-mode:backwards;

    border-radius: 75%;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
}




/*Media querys para tamaño horizontal*/
@media screen and (max-width : 800px) {
    section{
        width: 100%;
    }
    p{
        font-size: 1rem;
    }
}
@media screen and (min-width : 800px) {
    section{
        width: 75%;
    }
    p{
        font-size: 1.5rem;
    }
}
@media screen and (min-width : 1400px) {
    section{
        width: 25%;
    }
    p{
        font-size: 2rem;
    }
}
