/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*Animaciones*/
@keyframes elem_startup {
    from {transform: translateY(20px); opacity: 0;}
    to {transform: translateY(0px);opacity: 1;}
}

:root{

    /*Paleta de colores*/
    --c1: #f7f7f7; --c2: #121ecb; --c3: #13133a; --c4: #0b0b0f; --c5: #212ddc; --c6: #23234a; --c7: #44446c;
    --ct1: #f7f7f700;
}
/*ID de fondo*/
#bg{
    background-color: var(--c1);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: auto;
}
#bg_grad{
    background-image: linear-gradient(to bottom, var(--ct1),var(--c1)) ,  url("../imagenes/bg_squares.png") ;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-repeat: no-repeat, repeat;
    opacity: 0.05;
    z-index:1;
}

/*Clases*/
/*Botones*/
.btn{
    position: relative;

    color: var(--c1);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    /*Animacion para startup*/
    animation-name: elem_startup;
    animation-fill-mode:backwards;
    animation-duration: 0.5s;

    padding: 20px;
    
    background-color: var(--c6) ;
    /*Borde para selecciones*/
    border-width: 5px;
    border-color: var(--c6);
    border-style: solid;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    transform: translate(0px,0px);
    transition: 0.2s;
}

.btn:hover{
    transform: translate(-5px,-5px);
    background-color: var(--c1);
    color: var(--c4);
    
}

.btn_xlarge{
    width: 100px;

}

/*Imagenes*/
.gen_img{
    /*Borde*/
    border-style: double;
    border-color: var(--c1);
    border-width: 5px;
}


/*Botones de lenguaje*/
#lang_menu{
    position: fixed;
    left: 1%;
    bottom: 1%;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.lang_button{
    padding: 0;
    display: inline;
    position: relative;
    width: 50px;
    height: 50px;
    flex: 1;
    margin: auto;
    
}

/*Tiempos de animacion*/
.shorter_delay{
    animation-delay: 0.2s;
}
.short_delay{
    animation-delay: 0.4s;
}
.medium_delay{
    animation-delay: 0.6s;
}
.long_delay{
    animation-delay: 0.8s;
}
.longest_delay{
    animation-delay: 1.0s;
}